@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900");

/* Reset */

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    }

/* Box Model */

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }

body{
    color: #585858;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 16pt;
    font-weight: 300;
    line-height: 1em;
    max-width: 720px;
    padding: 20px;
    margin: auto;
    }


a {
    text-decoration: none;
    color: #585858;
    }

a:hover {
    color:darkturquoise !important;
    }

strong, b {
    font-weight: 900;
    }

em, i {
    font-style: italic;
    }

p {
    margin: 0 0 2em 0;
    }

h1  {
    font-size: 2.75em;
    font-weight: 900;
    letter-spacing: -0.035em;
    }

h2 {
    font-weight: 700;
    font-size: 2em;
    margin: 0 0 1em 0;
    }

h3 {
    font-weight: 300;
    font-size: 1.25em;
    margin-bottom: 5px;
    }


/* List */

ul {
    margin: 0 0 2em 0;
    padding-left: 1em;
    list-style: none;
    }

ul li {
    padding-left: 0.5em;
    }


/* Image */

img{
    border-radius: 4px;
    border: 0;
    display: inline-block;
    margin: auto;
    max-width: 50%;
    }

/* Footer */

footer{
    align-content: center;
    margin: auto;
    }


